div h1 {
	padding: 15px 20px 20px;
	margin-top:15px;
	margin-bottom: -5px;
	margin-left:105px;
	background: #4099FF;
	color: white;
	font-size: 56px;
	max-width:800px;
	text-align: right;
  	font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
}

div img {
	float:left;
	margin-top: 5px;
	
}
.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;	
}

.main text {
	font-family: Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
	font: 12px sans-serif;	
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

.axis text {
	font-family: Rockwell;
}

.miniItem {
	stroke-width: 6;	
}

.future {
	stroke: gray;
	fill: #ddd;
}

.past {
	stroke: green;
	fill: lightgreen;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}

.laneText {
	font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

.borderMe {
	border-style:solid;
	border-right:thick double #ff0000;
}

p {
	margin-right: 100px;
	margin-top: -100px;
	float:right;
	